# .gitignore
# ----------------------
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
venv/
env/

# OS-specific
.DS_Store
Thumbs.db

# Docker-related
*.pid
*.sock
*.log
*.tmp

# Build artifacts
downloads/
files/__pycache__/

# VS Code
.vscode/

# Temporary files
*.bak
*.swp
*.tmp

# Docker Compose volumes
*.env
